html {
  background-color: pink
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#wrapper-main {
  width: 100%;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.bar-horizontal {
  width: 100%;
  height: 0.5em;
  background-color: black;
}

.wrapper-tracker-panel {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-tracker-panel.left {
  border-right: 0.25em solid;
}

.wrapper-tracker-panel.right {
  border-left: 0.25em solid;
}

.wrapper-tracker-panel.tracker-title {
  font-size: 10%;
}
